body {
    background-image: url("../images/background.jpg"); 
    background-size:cover;
    background-repeat:no-repeat;
    padding-bottom: 7em;
   
}

#airplane-form {
    float: right;
}

#airplanes {
    width: 75%;
    margin: 0, auto;
    display: block;
    float: left;
}
h5 {
    max-width: 33%;
}

