body {
    background-image: url("../images/background.jpg"); 
    background-size:cover;
    background-repeat:no-repeat;
    padding-bottom: 7em;
   
}

#airplane-form {
    float: right;
}

#airplanes {
    float: center;
}
#img {
display: inline;
}
